body {
    font-family: Oswald, Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    background: #1e5799;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #184579;
    color: white;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

.header .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.header .nav-links a {
    color: white;
    text-decoration: none;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    width: 1000px;
    padding-top: 10px;
}

.right {
    width: 25%;
    padding: 0 20px 0 20px;
}

.card {
    background: #4087d9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: inset 0px 0px 0px 12px #6fa5e3;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 44px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

h4 {
    text-align: center;
}